/* @override http://localhost:3000/stylesheets/style.css */

/* @override http://localhost:3000/stylesheets/style.css */

/* @group universe */
div#universe {
	overflow: hidden;
	margin: auto;
}
	div#world {
		overflow: hidden;
		margin: auto;
	}
/* @end */

/* @group brown_style */

body{
    background:#784202 url('../images/bg.jpg') center top no-repeat;
    font-family:Helvetica, Arial, Verdana;
    font-size:12px;
    color:#FFF;
}
a:link, a:visited{
    text-shadow:0 0 2px #000;
    -moz-text-shadow:0 0 2px #000;
    -webkit-text-shadow:0 0 2px #000;
    color:#FFF;
    text-decoration:none;
}
a:active{
    color:#cac030;
}
a:hover{
    text-decoration:underline;
}



/* @end */

/* @group header */
div#header {
	padding: 10px 0px 0px 0px;
}
div#header h1 a{
    float:left;
    text-indent:-9999px;
    background:url('../images/logo.png');
    width:161px;
    height:60px;
}
div#header div.connect{
    float:right;
}

/* @end */

/* @group main */
div#main{
    margin:20px 0 30px;
}

/* @end */

/* @group add coffeshop form */
div#main div.map-container div.add-coffeeshop{
    position:absolute;
    width:670px;
    height:370px;
    top:5px;
    left:5px;
    background:url('../images/whiteBG.png');
    color:#222;
    padding:10px;
    display:none;
}
div#main div.map-container div.add-coffeeshop a.close{
    position:absolute;
    width:16px;
    height:16px;
    top:10px;
    right:10px;
    background:url('../images/closeSprite.png');
    text-indent:-9999px;
}
div#main div.map-container div.add-coffeeshop a.close:hover{
    background-position:0 -16px;
}
div#main div.map-container div.add-coffeeshop p{
    margin:0 0 10px 10px;
}
div#main div.map-container div.add-coffeeshop p.text{
    font-size:20px;
    color:#784202;
    margin:0 0 20px 0;
    border-bottom:1px solid #784202;
    padding-bottom:5px;
}
div#main div.map-container div.add-coffeeshop label{
    font-weight:bold;
    color:#333;
    width:200px;
}
div#main div.map-container div.add-coffeeshop input, div#main div.map-container div.add-coffeeshop select{
    height:30px;
    line-height:30px;
    background:#FFF;
    color:#784202;
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    padding:0 0 0 5px;
    font-size:16px;
    width: 100%;
}
div#main div.map-container div.add-coffeeshop input.loading{
    background:url('../images/ajaxLoad.gif') no-repeat 630px 6px;
}
div#main div.map-container div.add-coffeeshop select{
    cursor:pointer;
    width:200px;
    display: block;
}
div#main div.map-container div.add-coffeeshop p.submit{
    text-align:right;
}
div#main div.map-container div.add-coffeeshop p.submit input{
	margin-top: 20px;
	clear: both;
    cursor:pointer;
    height:40px;
    line-height:40px;
    width:200px;
    color:#000;
    border:0;
    font-size:12px;
    font-weight:bold;
    text-shadow:1px 1px 0 #ebe594;
    -moz-text-shadow:1px 1px 0 #ebe594;
    -webkit-text-shadow:1px 1px 0 #ebe594;
    box-shadow:0 0 5px #000;
    -moz-box-shadow:0 0 5px #000;
    -webkit-box-shadow:0 0 5px #000;
    background:#fff897;
    background: -moz-linear-gradient(top,  #fff897,  #cac030);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff897), to(#cac030));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff897', endColorstr='#cac030');
}
div#main div.map-container div.add-coffeeshop p.submit input:hover{
    background:#cac030;
    background: -moz-linear-gradient(top,  #cac030,  #fff897);
    background: -webkit-gradient(linear, left top, left bottom, from(#cac030), to(#fff897));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cac030', endColorstr='#fff897');
}
div#main div.map-container div.add-coffeeshop p.submit.sending input{
    cursor:default;
    background:#CCC;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    text-shadow:none;
    -moz-text-shadow:none;
    -webkit-text-shadow:none;
}
div#main div.map-container div.add-coffeeshop p.submit img.loading{
    margin-right:10px;
    display:none;
}
div#main div.map-container div.add-coffeeshop p.submit.sending img.loading{
    display:inline;
}

/* @end */

/* @group add new cafeteria button */




div.lists p.tabs{
    border-bottom:1px solid #FFF;
    float:left;
    width:100%;
    margin:0;
}
div.sidebar div.lists p.tabs a{
    float:left;
    padding:8px;
    color:#2d1c09;
    text-decoration:none;
    font-weight:bold;
    font-size:13px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    background:#9e6423;
    background: -moz-linear-gradient(top,  #9e6423,  #553611);
    background: -webkit-gradient(linear, left top, left bottom, from(#9e6423), to(#553611));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e6423', endColorstr='#553611');
    text-shadow:1px 1px 0 #795d3d;
    -moz-text-shadow:1px 1px 0 #795d3d;
    -webkit-text-shadow:0 0 1px #795d3d;
    margin-right:1px;
}
div.sidebar div.lists p.tabs a.active, div.sidebar div.lists p.tabs a:hover{
    color:#543511;
    background:#FFF;
    background: -moz-linear-gradient(top,  #FFF,  #CCC);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#CCC');
    text-shadow:none;
    -moz-text-shadow:none;
    -webkit-text-shadow:none;
}
div.sidebar div.lists table{
    float:left;
    width:100%;
    display:none;
}
div.sidebar div.lists table.active{
    display:block;
}
 
/*Footer*/
div#footer{
	padding: 10px 0px;    
    border-top:1px solid #feb55d;
    text-align:center;
}


/* @end */

/* @group myform */
form.myform {
	
}
.myform label {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 5px;
}
form.myform input {
	font-size: 16px;
	padding: 0px !important;
}
	input.suggest_price {
		background: #66FF66;
		width: 200px;
		float: right;
		display: block;
		color: #333;
		    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border: 1px solid #ccc;
    	height: 30px;
    	line-height: 30px;
    	cursor: pointer;
	}
		input.suggest_price:hover {
			background: #00FF33;
		}


/* @end */

/* @group Cafeteria#blame */
h4 {
	font-size: 18px;
	margin-bottom: 0px;
}
ul#blame {
	list-style: none;
	display: block;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
	ul#blame li {
		display: block;
		overflow: hidden;
		float: left;
		width: 150px;
		margin: 10px;
		background: #CCFFFF;
		color: #222;
		text-align: center;
		padding: 5px;
		border: 1px solid #ccc;
		    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

	}
		ul#blame li:hover {
			background: #FFFF99;
		}
	ul#blame li span {
		display: block;
		clear: both;
	}

	ul#blame li span.price {
		font-size: 32px;
		padding-top: 10px;
		margin-bottom: 10px;
	}
	ul#blame li span.votes {
		font-size: 12px;
	}
	
	ul#blame input.vote_it {
		background: #6699FF;
		height: 30px;
		color: #222;
		font-size: 14px;
		cursor: pointer;
	}
		ul#blame input.vote_it:hover {
			background: #66FF66;
		}
	


/* @end */

/* @group Cafeteria#show */
h1 {
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: normal;
}
h2 {
	margin-bottom: 0px;
}
table#cafe_pricelist {
	width: 400px;	
}
	table#cafe_pricelist td {	
		border: 1px solid #784202;
		padding: 5px;
		font-size: 16px;
	}
	table#cafe_pricelist td.confirm {
		font-size: 12px;
		color: #ddd;
	}
		table#cafe_pricelist td.confirm a{
			color: #66CC33;
			font-size: 16px;
		}
	table#cafe_pricelist td.blame a{
		color: #FFA07A;
	}		
		


/* @end */

/* @group Cafeteria#index */

/* @group map */
div#main div.map-container{
    position:relative;
    float:left;
    width:690px;
    height:440px;
    overflow: hidden;
    padding:5px;
    background:#FFF;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 0 5px #000;
    -moz-box-shadow:0 0 5px #000;
    -webkit-box-shadow:0 0 5px #000;
}
div#main div.map-container #map{
    width:690px;
    height:390px;
}
div#main div.map-container #map a{
    text-shadow:none;
    -moz-text-shadow:none;
    -webkit-text-shadow:none;
}



a.add-button {
	background: #784202;
	display: block;
	float: left;
	padding: 5px;
	margin-top: 10px;
	border-radius:5px;
	-moz-border-radius:5px;

}
/* @end */

/* @group sidebar */

/* @group search */
div#search_form_wrapper {
	width: 240px;
	float: left
}
	form#search-form {
		padding: 0 !important;
		margin: 0 !important;
	}
	input#search-field {
		width: 200px;
		font-size: 14px;
		height: 20px;
		padding: 5px 4px;
		border: 1px solid #ccc;
		float: left;
		color: #666;
	}
	input#search-button {
		float: left;
		height: 32px;
		width: 30px;
		margin: 0px !important;
		padding: 0px !important;
		border: none;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
		background: #F6F6F6 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
		cursor: pointer;
	}
		input#search-button:hover {
			box-shadow:0 0 5px #000;
			-moz-box-shadow:0 0 5px #000;
			-webkit-box-shadow:0 0 5px #000;
		}
/* @end */
p.move-around{
    text-align:center;
    font-size:12px;
    line-height:16px;
    border-bottom:1px solid #feb55d;
    padding:5px 0;
    margin-top:20px;
    margin-bottom: 10px;
    text-shadow:0 0 2px #000;
    -moz-text-shadow:0 0 2px #000;
    -webkit-text-shadow:0 0 2px #000;
    clear: both;
}
table.sidebar {
	clear: both;
	width: 240px;
}
table.sidebar td {
	padding: 5px 0px;
	border-bottom: 1px solid #ccc !important;
	text-shadow:0 0 2px #000;
	-moz-text-shadow:0 0 2px #000;
	-webkit-text-shadow:0 0 2px #000;
	line-height: 130%;

}
	table.sidebar td.name {
		width: 190px;
	}
	table.sidebar td.price, table.sidebar td.distance {
		width: 50px;
		font-size: 15px;
		font-weight: bold;
		text-align: right;
	}



/* @end */

/* @end */






div.gmnoprint {
  color: #000 !important;
}