<h1>Listing prices</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%= link_to 'vote', "xx" %></td>
    
    <% @price_list.each do |product| %>
        <%= product[:name] %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Price', new_cafeteria_price_path(@cafeteria) %>
